<div style="weight: 100%; height: 100%">
	<div id="header" data-app-constraint="top">
		<div id="title" class="views-main-title-bg"></div>
		<div data-dojo-type="dijit/MenuBar" id="navMenu" class="menu-bar-bg"
			data-dojo-props="onItemClick: this.menuItemClick">
			<div data-dojo-type="dijit/MenuBarItem" id="welcomeTab"
				class="menu-label">Home</div>
			<div data-dojo-type="dijit/MenuBarItem" id="desktopTab"
				class="menu-label">Dijit</div>
			<div data-dojo-type="dijit/MenuBarItem" id="mobileTab"
				class="menu-label">Mobile</div>
			<div
				style="float: right; display: block; position: relative; width: 180px">
				<input data-dojo-type="dojox/mobile/SearchBox" id="searchBox"
					placeholder="Search..." class="searchbox"
					data-dojo-props='store:storeWidgetList, searchAttr:"name", ignoreCase: true, onSearch:this.onSearch' />
				<div
					style="z-index: 4; position: fixed; float: right; width: 170px;">
					<ul data-dojo-type="dojox/mobile/RoundRectList" jsId="list"
						style="-webkit-padding-start: 0px; list-style-type: none; background-color: rgba(255, 255, 255, 1.0); color: black; -webkit-margin-before: 0em;"></ul>
				</div>
			</div>
		</div>

	</div>
	<!-- div align="right" id="footer" data-app-constraint="bottom" style="padding-top:5px; padding-right:5px;">ODX development team 2015. Licenced under <a href="https://gnu.org/licenses/gpl.html" target="_blank">GPLv3</a></div-->
</div>