<div>
	<div data-app-constraint="top">
		<div class="widget-id">
			<span id="widget-title">${params.id}</span>
		</div>
	</div>
	<div data-app-constraint="center" class="main-panel my-main-panel" style="overflow-y:auto !important;">
			<div data-dojo-type="dijit/layout/ContentPane" id="desktop-play-tab"
			title="" data-dojo-props="selected:true"
			style="height: 80%; weight: 100%;overflow:auto !important;">
				<div id="desktop-play-left" data-dojo-props="region: 'center'">
					<div id="desktop-play-demo" style="margin-top:0px !important;" data-dojo-type="dijit/TitlePane"
						data-dojo-props="title: 'Demo', toggleable: false"
						class="play-demo play-box" >top</div>
					<div id="desktop-play-declaration" data-dojo-type="dijit/TitlePane"
						data-dojo-props="title: 'Declarative', toggleable: false"
						class="play-declaration play-box">center-</div>
				<div id="desktop-play-programmatic" data-dojo-type="dijit/TitlePane"
						data-dojo-props="title: 'Programmatic', toggleable: false"
						class="play-programmatic play-box">bottom</div>
				</div>
				<div id="desktop-play-right" data-dojo-props="region: 'right'">
					<div id="desktop-play-setting" data-dojo-type="dijit/TitlePane"
						data-dojo-props="title: 'Properties', toggleable: false"
						class="setting-box play-box my-setting-box" >right</div>
				</div>
			</div>
		<!-- div data-dojo-type="dijit/layout/TabContainer" doLayout="false"
			style="height: 100%; weight: 100%;" class="tab-container"-->
		<!-- div data-dojo-type="dijit/layout/ContentPane" id="desktop-overview-tab" title="Overview" style="display:none"></div-->
		<!-- div data-dojo-type="dijit/layout/ContentPane"
				id="desktop-guidence-tab" title="Guidance"></div-->
		<!-- /div-->
	</div>
</div>