/**
*
*/
html, body, .dijitTabPaneWrapper, .dijitTabContainerTopChildWrapper, #desktop-play-left, #odx_main_desktop_content .dijitAlignCenter,div#odx_main_desktop.dijitAlignCenter.dijitLayoutContainer,#odx_main_desktop_content {
	width: 100%;
	height: 100%!important;
}
html, body, .dijitTabPaneWrapper, .dijitTabContainerTopChildWrapper, #mobile-play-left, #odx_main_mobile_content .dijitAlignCenter,div#odx_main_mobile.dijitAlignCenter.dijitLayoutContainer,#odx_main_mobile_content {
	width: 100%;
	height: 100%!important;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif !important;
    font-size: 14px !important;
    background: #FFF;
    color: #222;
}
#odx_main {
	width:100%;
	height: 100%;
}
#desktop-play-left{
	float:left;
	width: 75%;
}
#desktop-play-right{
	float:right;
	width: 25%;
}
#mobile-play-left{
	float:left;
	width: 75%;
}
#mobile-play-right{
	float:right;
	width: 25%;
}
.play-box{
	margin-top: 15px;
}
/* ---------- Syntax Highlighting ---------- */
.play-box .syntaxhighlighter .toolbar {
	display: none;
}
.syntaxhighlighter {
	padding: 0;
	border: 1px solid #CCC;
}
.play-box .syntaxhighlighter .alt1 {
	background: #F6F6F2 !important;
}
.play-box .syntaxhighlighter .line.alt1,
.play-box .syntaxhighlighter .line.alt2  {
	padding: 0.1em 1em !important;
}
.play-box .syntaxhighlighter .gutter .line {
	border-right-color: #DDD !important;
}
.play-box .syntaxhighlighter .gutter .highlighted {
    background: #6CE26C !important;
}
.play-box .syntaxhighlighter .highlighted {
    background-color: #E0E0E0 !important;
}
/* ----------------------------------------- */